@import '_settings'

// http://www.colourlovers.com/palette/2082743/Choco_raspberry_log
$red = #D01D21
$brown = #926842
$kafe = #793F29
$canbe = #672B21
$wild = #200F08
$weekness-color = #666
normalize()
base()

body
  padding: 50px
  font-size: 16px
h1
  font-size: 72px
  font-family: "Joti One"
  a
    color : $wild
    text-decoration:none
input.selector
  padding: 4px;
  border-radius: 4px;
  font-size: 16px
  border: solid $red 3px;
  
.result
  padding: 16px;
  width: 500px;
  border-radius: 8px;