@import '_settings'
// http://www.colourlovers.com/palette/2082743/Choco_raspberry_log
$brown = #926842
$kafe = #793F29
$wild = #200F08
$weekness-color = #666
normalize()
base()

body
  padding: 40px
  font-size: 16px
  color: $wild
header
  padding-bottom:32px
  
h1
  $base-size = 48px
  font-size: $base-size
  line-height: $base-size
  font-family: "Joti One"
  margin-bottom : 4px;
  padding-bottom : 0px;
  position: relative
  
  &:first-letter
    zoom : 1.5
    color: $kafe

  a
    z-index:10
    color : #777
    text-decoration:none
    span.brown
      color: $kafe
      zoom: 2
section.description
  padding-left:6px
.input_container
  position:relative
input.selector
  padding: 4px;
  border-radius: 4px;
  font-size: 32px
  width: 100%
  border: solid $brown 3px;
  &:focus
    outline: none;

div.eq
  width:100%;
  text-align:center;
  margin-top:10px;
  $allow-size = 12px
  div.down-allow
    width: $allow-size * 4;
    margin: auto
  div.down-allow-square
    background: $brown;
    height: ($allow-size / 2);
    width: $allow-size * 2;
    margin-left: $allow-size ;
  div.down-allow-spacer
    margin-bottom: ($allow-size / 8);
  
  div.down-allow-tri
    width:0px;
    border-top: $allow-size solid $brown;
    border-left: $allow-size*2 solid transparent;
    border-right: $allow-size*2 solid transparent;
  
  
.result-container
  display:flex;
  .result
    width: 100%
    border-radius: 8px;
    