
size = 30px
color = #777
scale = 2.5

btr(size, attr)
  border-{attr}: size solid transparent;

bdr(size, color, attr)
  border-{attr}: size*scale solid color;

triangle-h(size)
  height: 0
  width: size
triangle-v(size)
  width: 0
  height: size

positioning()
  display:none
  z = 1
  zoom : 0.2
  deg = 40deg
  position:absolute
  top:-100px ; 
  left:180px;
  transform: rotate(deg)
  -webkit-transform: rotate(deg)
  -moz-transform: rotate(deg)

.shuriken
  positioning()
  // sizes
  box = 270px
  width : box;
  height : box;
  .center
    c_size = size * 2
    width: c_size
    height: c_size
    line-height: c_size
    background: color
    .circle
      circle_size = size * 1.5
      content: ""
      background: white;
      width: circle_size
      height: circle_size
      border-radius: circle_size
      margin: ((circle_size - size)/2)
  .row
    width : 100%;
    clear:both
    
  .row:not(.middle)
    margin_size = size * (scale + 1)
    margin: 0 margin_size
    
  .middle 
    div
      float:left;
    
  .right
    triangle-h(size)
    btr(size, top)
    btr(size, bottom)
    bdr(size, color, left)

  .left
    triangle-h(size)
    btr(size, top)
    btr(size, bottom)
    bdr(size, color, right)
  .left-dark
    triangle-h(size)
    btr(size, top)
    bdr(size, colorDark, right)

  .top
    triangle-v(size)
    btr(size, left)
    btr(size, right)
    bdr(size, color, bottom)    

  .bottom
    triangle-v(size)
    btr(size/4, left)
    btr(size/4, right)
    bdr(size/4, color, top)
    width: size * 1.5